
.DS_Store
NetCrawlerDetect/.vs/NetCrawlerDetect/xs/UserPrefs.xml
NetCrawlerDetect/.vs/NetCrawlerDetect/xs/sqlite3/storage.ide-wal
NetCrawlerDetect/.vs/NetCrawlerDetect/xs/sqlite3/db.lock
NetCrawlerDetect/.vs/NetCrawlerDetect/xs/sqlite3/storage.ide
NetCrawlerDetect/.vs/NetCrawlerDetect/xs/sqlite3/storage.ide-shm
